<div class="container text-center full-height" style="margin-top: 70px;">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-container">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <div class="form-description">
            <%= f.input :description %>
          </div>
          <div class="form-select">
            <%= select_tag "ingredient", options_from_collection_for_select(Ingredient.all, :name, :name), class: 'select2' %>
          </div>

          <%= f.submit class: "btn btn-primary btn-form btn-block" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
