// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alert-danger {
  color: #a94442;
}

.alert-success {
  color: #3c763d;
}

.alert {
  margin-top: 20px;
}
